<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
  <div class="header-container" style="display: flex; justify-content: space-between;">
    <div style="flex: 1;">
      <h1 id="header_title">사이트 헤더</h1>
    </div>
    <div class="button-container" id="button-container" style="display: flex;">
    </div>
    <div class="home-button button-container">
      <a href="/">홈</a>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let current_endpoint = window.location.href;
      if (current_endpoint.includes("products")) {
        document.querySelector("#header_title").innerText = "JPA 관련 페이지";
        document.querySelector("#button-container").innerHTML = `<a href="/jpa/products">Product 조회</a>
                                                                 <a href="/jpa/products/add">Product 추가</a>`
      } else if (current_endpoint.includes("security")) {
        document.querySelector("#header_title").innerText = "Spring Security 관련 페이지"
      }
    })
  </script>
</header>
</html>
