<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/product}">

<body>
<section layout:fragment="content">
  <div class="container mt-4">
    <h2 class="mb-4">배치 로그 목록</h2>

    <table class="table table-bordered table-hover">
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>작업명 (Job Name)</th>
        <th>단계명 (Step Name)</th>
        <th>상태 (Status)</th>
        <th>완료 날짜 (Complete Date)</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="log : ${batchLogs}">
        <td th:text="${log.batchLogId}"></td>
        <td th:text="${log.jobName}"></td>
        <td th:text="${log.stepName}"></td>
        <td th:text="${log.status}"
            th:classappend="${log.status == 'COMPLETED'} ? 'text-success' : 'text-danger'"></td>
        <td th:text="${#temporals.format(log.completeDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
      </tbody>
    </table>
</section>
</body>
</html>